.tree {
  list-style: none;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  overflow: auto;
  position: relative;
}
.tree:focus {
  outline: 0;
}
.tree ul {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 0;
}
.tree-icon,
.tree-checkbox,
.tree-custom-icon {
  float: none;
  display: inline;
  box-sizing: content-box;
}
.tree-checkbox {
  margin: 4px 10px 0 2px;
}
.tree-default .tree-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: normal !important;
}

.tree-node {
  margin: 5px 0 0 20px;
}

.tree-default .tree-icon, .tree-default .tree-node {
  background-image: none !important;
}
.tree-default .tree-icon:empty {
  margin-right: 5px;
  width: 18px !important;
  height: 18px !important;
}
.tree-icon .tree-checkbox {
  font-style: 'normal';
}
.tree-default .tree-checkbox {
  background-position: none;
  font-family: 'gprime';
  font-size: 20px;
  font-style: 'normal';
  line-height: 18px;
  border: 2px solid #777;
  margin: 4px 10px 0 2px;
}
.tree-default>.tree-no-dots .tree-closed>.tree-ocl, .tree-default>.tree-no-dots  .tree-open>.tree-ocl, .tree-default>.tree-no-dots .tree-leaf>.tree-ocl {
  background-position: none;
  font-family: 'gprime';
  font-size: 18px;
  font-style: 'normal';
  line-height: 18px;

}
.tree-default>.tree-no-dots .tree-closed>.tree-ocl:after {
  content: '\f147';
  font-style: normal;
  vertical-align: middle;
}
.tree-default>.tree-no-dots .tree-leaf>.tree-ocl:after {
  content: '';
  font-style: normal;
  vertical-align: middle;
}
.tree-default>.tree-no-dots .tree-open>.tree-ocl:after {
  content: '\f144';
  font-style: normal;
  vertical-align: middle;
}
.tree-default .tree-checkbox:after {
  font-style: normal;
  vertical-align: middle;
}
.tree-default .tree-anchor.tree-selected .tree-checkbox:after {
  content: '\f182';
  font-style: normal;
  vertical-align: top;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 22px;
}
